@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --main-color: #3e4451;
    --highlight-color: #e2580f;
}

.wallet-adapter-button-trigger,
.wallet-adapter-dropdown {
    width: 200px !important;
    max-width: 200px !important;
    margin: 0 auto !important;
}

.card {
    overflow: visible !important;
}